<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/contact.css">
    <script src="https://kit.fontawesome.com/cae263161a.js" crossorigin="anonymous"></script>
    <title>first project</title>
</head>

<body>
    <div class="first">
        <div class="navbar">
            <div id="info">
                <div id="logo">
                    <a href="/"><img src="../static/image/logo.png" alt=""></a>
                </div>
                <div id="logoname">
                    <p><a href="/">Visit Nepal</a></p>
                </div>
            </div>
            <div class="navbar-content" id="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Our Services</a></li>
                    <li><a href="/contact">Blog</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div id="join">
                <button id="join-with-us">Join Now</button>
            </div>
        </div>
        <div class="main">

        </div>
    </div>



    <footer class="footer">
        <div class="footermain">
            <div class="infobox bigbox">
                <h3>Visit Nepal</h3>
                <div id="paragraph">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur accusamus laudantium cupiditate impedit, sint corrupti? Sint nam voluptas ut sed eligendi, excepturi, facere a reprehenderit vitae officiis</p>
                </div>
                <div id="icons">
                    <i class="fa-brands fa-facebook fa-4x"></i>
                    <i class="fa-brands fa-twitter fa-4x"></i>
                    <i class="fa-brands fa-instagram fa-4x"></i>

                </div>
            </div>
            <div class="infobox">
                <h3>Information</h3>
                <div class="content">
                    <p>About</p>
                    <p>Services</p>
                    <p>Terms and Conditions</p>
                    <p>Join With Us</p>
                    <p>Privacy and policy</p>
                </div>
            </div>
            <div class="infobox">
                <h3>Customer Services </h3>
                <div class="content">
                    <p>FQA</p>
                    <p>Contact Us</p>
                    <p>How it works</p>
                </div>
            </div>
            <div class="infobox bigbox">
                <h3>Want To Reach Us?</h3>
                <div class="content">
                    <div class="reachus">
                        <div class="logo">
                            <i class="fa-solid fa-location-dot fa-lg icon"></i>
                        </div>
                        <div class="logomsg">
                            <p>Our main office is at 1 Kamalpokhari, Kathmandu, Bagmati, Nepal</p>
                        </div>
                    </div>
                    <div class="reachus">
                        <div class="logo">
                            <i class="fa-solid fa-phone fa-lg icon"></i>
                        </div>
                        <div class="logomsg">
                            <p> You can contact our customer service at +977-014415178</p>
                        </div>

                    </div>
                    <div class="reachus">
                        <div class="logo">
                            <i class="fa-solid fa-envelope fa-lg icon"></i>
                        </div>
                        <div class="logomsg">
                            <p> You can directly mail us at visitnepal1100@gmail.com </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="copyright">
            <p>Copyright ©2022 All rights reserved | </p>
        </div>
    </footer>
</body>

</html>