<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>first project</title>
</head>

<body>
    <div class="first">
        <div class="navbar">
            <div id="info">
                <div id="logo">
                    <a href="/"><img src="../static/image/logo.png" alt=""></a>
                </div>
                <div id="logoname">
                    <p><a href="/">Visit Nepal</a></p>
                </div>
            </div>
            <div class="navbar-content" id="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Our Services</a></li>
                    <li><a href="/contact">Blog</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div id="join">
                <button id="join-with-us">Join Now</button>
            </div>
        </div>
        <div class="main">
            <div class="moto">

            </div>
            <div class="explore">

            </div>
        </div>
    </div>
</body>

</html>